<div class="ind-cont">

【ア行】<br>
-ア<br>
<% @contents.each do |content| %>
 <%= link_to "#{content.title}", content if content.title.start_with?("あ","ア") %><br>
<% end %>

-イ<br>
<% @contents.each do |content| %>
 <%= link_to "#{content.title}", content if content.title.start_with?("い","イ") %><br>
<% end %>

-ウ<br>

<% @contents.each do |content| %>
 <%= link_to "#{content.title}", content if content.title.start_with?("う","ウ") %><br>
<% end %>

-エ<br>
<% @contents.each do |content| %>
 <%= link_to "#{content.title}", content if content.title.start_with?("え","エ") %><br>
<% end %>

-オ<br>
<% @contents.each do |content| %>
 <%= link_to "#{content.title}", content if content.title.start_with?("お","オ") %><br>
<% end %>

【カ行】<br>

-カ<br>
<% @contents.each do |content| %>
 <%= link_to "#{content.title}", content if content.title.start_with?("か","カ") %><br>
<% end %>

-キ<br>

<% @contents.each do |content| %>
 <%= link_to "#{content.title}", content if content.title.start_with?("き","キ") %><br>
<% end %>

-ク<br>
<% @contents.each do |content| %>
 <%= link_to "#{content.title}", content if content.title.start_with?("く","ク") %><br>
<% end %>

-ケ<br>
<% @contents.each do |content| %>
 <%= link_to "#{content.title}", content if content.title.start_with?("け","ケ") %><br>
<% end %>

-コ<br>
<% @contents.each do |content| %>
 <%= link_to "#{content.title}", content if content.title.start_with?("こ","コ") %><br>
<% end %>

【サ行】<br>
-サ<br>
<% @contents.each do |content| %>
 <%= link_to "#{content.title}", content if content.title.start_with?("さ","サ") %><br>
<% end %>

-シ<br>
<% @contents.each do |content| %>
 <%= link_to "#{content.title}", content if content.title.start_with?("し","シ") %><br>
<% end %>

-ス<br>
<% @contents.each do |content| %>
 <%= link_to "#{content.title}", content if content.title.start_with?("す","ス") %><br>
<% end %>

-セ<br>
<% @contents.each do |content| %>
 <%= link_to "#{content.title}", content if content.title.start_with?("せ","セ") %><br>
<% end %>

-ソ<br>
<% @contents.each do |content| %>
 <%= link_to "#{content.title}", content if content.title.start_with?("そ","ソ") %><br>
<% end %>

【タ行】<br>

-タ<br>
<% @contents.each do |content| %>
 <%= link_to "#{content.title}", content if content.title.start_with?("た","タ") %><br>
<% end %>

-チ<br>
<% @contents.each do |content| %>
 <%= link_to "#{content.title}", content if content.title.start_with?("ち","チ") %><br>
<% end %>

-ツ<br>
<% @contents.each do |content| %>
 <%= link_to "#{content.title}", content if content.title.start_with?("つ","ツ") %><br>
<% end %>

-テ<br>
<% @contents.each do |content| %>
 <%= link_to "#{content.title}", content if content.title.start_with?("て","テ") %><br>
<% end %>

-ト<br>
<% @contents.each do |content| %>
 <%= link_to "#{content.title}", content if content.title.start_with?("と","ト") %><br>
<% end %>

【ナ行】<br>

-ナ<br>
<% @contents.each do |content| %>
 <%= link_to "#{content.title}", content if content.title.start_with?("な","ナ") %><br>
<% end %>

-ニ<br>
<% @contents.each do |content| %>
 <%= link_to "#{content.title}", content if content.title.start_with?("に","ニ") %><br>
<% end %>

-ヌ<br>
<% @contents.each do |content| %>
 <%= link_to "#{content.title}", content if content.title.start_with?("ぬ","ヌ") %><br>
<% end %>

-ネ<br>
<% @contents.each do |content| %>
 <%= link_to "#{content.title}", content if content.title.start_with?("ね","ネ") %><br>
<% end %>

-ノ<br>
<% @contents.each do |content| %>
 <%= link_to "#{content.title}", content if content.title.start_with?("の","ノ") %><br>
<% end %>

【ハ行】<br>

-ハ<br>
<% @contents.each do |content| %>
 <%= link_to "#{content.title}", content if content.title.start_with?("は","ハ") %><br>
<% end %>

-ヒ<br>
<% @contents.each do |content| %>
 <%= link_to "#{content.title}", content if content.title.start_with?("ひ","ヒ") %><br>
<% end %>

-フ<br>
<% @contents.each do |content| %>
 <%= link_to "#{content.title}", content if content.title.start_with?("ふ","フ") %><br>
<% end %>

-へ<br>
<% @contents.each do |content| %>
 <%= link_to "#{content.title}", content if content.title.start_with?("へ") %><br>
<% end %>

-ホ<br>
<% @contents.each do |content| %>
 <%= link_to "#{content.title}", content if content.title.start_with?("ほ","ホ") %><br>
<% end %>

【マ】<br>

-マ<br>
<% @contents.each do |content| %>
 <%= link_to "#{content.title}", content if content.title.start_with?("ま","マ") %><br>
<% end %>

-ミ<br>
<% @contents.each do |content| %>
 <%= link_to "#{content.title}", content if content.title.start_with?("み","ミ") %><br>
<% end %>

-ム<br>
<% @contents.each do |content| %>
 <%= link_to "#{content.title}", content if content.title.start_with?("む","ム") %><br>
<% end %>

-メ<br>
<% @contents.each do |content| %>
 <%= link_to "#{content.title}", content if content.title.start_with?("め","メ") %><br>
<% end %>

-モ<br>
<% @contents.each do |content| %>
 <%= link_to "#{content.title}", content if content.title.start_with?("も","モ") %><br>
<% end %>

【ヤ行】<br>

-ヤ<br>
<% @contents.each do |content| %>
 <%= link_to "#{content.title}", content if content.title.start_with?("や","ヤ") %><br>
<% end %>

-ユ<br>
<% @contents.each do |content| %>
 <%= link_to "#{content.title}", content if content.title.start_with?("ゆ","ユ") %><br>
<% end %>

-ヨ<br>
<% @contents.each do |content| %>
 <%= link_to "#{content.title}", content if content.title.start_with?("よ","ヨ") %><br>
<% end %>

【ラ行】<br>

-ラ<br>
<% @contents.each do |content| %>
 <%= link_to "#{content.title}", content if content.title.start_with?("ら","ラ") %><br>
<% end %>

-リ<br>
<% @contents.each do |content| %>
 <%= link_to "#{content.title}", content if content.title.start_with?("り","リ") %><br>
<% end %>

-ル<br>
<% @contents.each do |content| %>
 <%= link_to "#{content.title}", content if content.title.start_with?("る","ル") %><br>
<% end %>

-レ<br>
<% @contents.each do |content| %>
 <%= link_to "#{content.title}", content if content.title.start_with?("れ","レ") %><br>
<% end %>

-ロ<br>
<% @contents.each do |content| %>
 <%= link_to "#{content.title}", content if content.title.start_with?("ろ","ロ") %><br>
<% end %>

【ワ行】<br>
-ワ<br>
<% @contents.each do |content| %>
 <%= link_to "#{content.title}", content if content.title.start_with?("わ","ワ") %><br>
<% end %>

【A~Z】<br>

-A<br>
<% @contents.each do |content| %>
 <%= link_to "#{content.title}", content if content.title.start_with?("a","A") %><br>
<% end %>

-B<br>
<% @contents.each do |content| %>
 <%= link_to "#{content.title}", content if content.title.start_with?("b","B") %><br>
<% end %>

-C<br>
<% @contents.each do |content| %>
 <%= link_to "#{content.title}", content if content.title.start_with?("c","C") %><br>
<% end %>

-D<br>
<% @contents.each do |content| %>
 <%= link_to "#{content.title}", content if content.title.start_with?("d","D") %><br>
<% end %>

-E<br>
<% @contents.each do |content| %>
 <%= link_to "#{content.title}", content if content.title.start_with?("e","E") %><br>
<% end %>

-F<br>
<% @contents.each do |content| %>
 <%= link_to "#{content.title}", content if content.title.start_with?("f","F") %><br>
<% end %>

-G<br>
<% @contents.each do |content| %>
 <%= link_to "#{content.title}", content if content.title.start_with?("g","G") %><br>
<% end %>

-H<br>
<% @contents.each do |content| %>
 <%= link_to "#{content.title}", content if content.title.start_with?("h","H") %><br>
<% end %>

-I<br>
<% @contents.each do |content| %>
 <%= link_to "#{content.title}", content if content.title.start_with?("i","I") %><br>
<% end %>

-J<br>
<% @contents.each do |content| %>
 <%= link_to "#{content.title}", content if content.title.start_with?("j","J") %><br>
<% end %>

-K<br>
<% @contents.each do |content| %>
 <%= link_to "#{content.title}", content if content.title.start_with?("k","K") %><br>
<% end %>

-L<br>
<% @contents.each do |content| %>
 <%= link_to "#{content.title}", content if content.title.start_with?("l","L") %><br>
<% end %>

-M<br>
<% @contents.each do |content| %>
 <%= link_to "#{content.title}", content if content.title.start_with?("m","M") %><br>
<% end %>

-N<br>
<% @contents.each do |content| %>
 <%= link_to "#{content.title}", content if content.title.start_with?("n","N") %><br>
<% end %>

-O<br>
<% @contents.each do |content| %>
 <%= link_to "#{content.title}", content if content.title.start_with?("o","O") %><br>
<% end %>

-P<br>
<% @contents.each do |content| %>
 <%= link_to "#{content.title}", content if content.title.start_with?("p","P") %><br>
<% end %>

-Q<br>
<% @contents.each do |content| %>
 <%= link_to "#{content.title}", content if content.title.start_with?("q","Q") %><br>
<% end %>

-R<br>
<% @contents.each do |content| %>
 <%= link_to "#{content.title}", content if content.title.start_with?("r","R") %><br>
<% end %>

-S<br>
<% @contents.each do |content| %>
 <%= link_to "#{content.title}", content if content.title.start_with?("s","S") %><br>
<% end %>

-T<br>
<% @contents.each do |content| %>
 <%= link_to "#{content.title}", content if content.title.start_with?("t","T") %><br>
<% end %>

-U<br>
<% @contents.each do |content| %>
 <%= link_to "#{content.title}", content if content.title.start_with?("u","U") %><br>
<% end %>

-V<br>
<% @contents.each do |content| %>
 <%= link_to "#{content.title}", content if content.title.start_with?("v","V") %><br>
<% end %>

-W<br>
<% @contents.each do |content| %>
 <%= link_to "#{content.title}", content if content.title.start_with?("w","W") %><br>
<% end %>

-X<br>
<% @contents.each do |content| %>
 <%= link_to "#{content.title}", content if content.title.start_with?("x","X") %><br>
<% end %>

-Y<br>
<% @contents.each do |content| %>
 <%= link_to "#{content.title}", content if content.title.start_with?("y","Y") %><br>
<% end %>

-Z<br>
<% @contents.each do |content| %>
 <%= link_to "#{content.title}", content if content.title.start_with?("z","Z") %><br>
<% end %>

</div>