<%= link_to "新規登録", new_work_path %>

<form class="form-inline col-xs-2" role="form">
    <%= form_for(@b_search_form, as: 'b_search', url: pages_s_detection_path, html: {method: :get}) do |f| %>
    　<%= f.text_field :title,  placeholder: "検索", class: :"form-control input-sm" %>
      <%= button_tag(class: :"form-control input-sm", size: :"10") do %>
       <%= image_tag('search.png', { :border => '0', :alt => '検索'}) %>
      <% end %>
    <% end %>
</form>

<div class="col-xs-12">
<table class="type07">
    <thead>
    <tr>
        <th scope="cols"></th>
        <th scope="cols">タイトル</th>
        <th scope="cols">ストーリー</th>
        <th scope="cols">放送開始日</th>
        <th scope="cols">Youtube</th>
        <th scope="cols">テーマ</th>
        <th scope="cols">声優</th>
        <th scope="cols">管理</th>
    </tr>
    </thead>
    <tbody>
        
    <% @contents.each do |content| %>

        <tr>
            <th scope="row"><%= content.id %></th>
    		<td><%= content.title %></td>
    		<td><%= content.story %></td>
    		<td><%= content.broadcast %></td>
    		<td><%= link_to "#{content.youtube}", content.youtube %></td>
    		<td><%= content.theme %></td>
    		<td><%= content.cast %></td>
    		<td>
    		    <%= link_to "編集", edit_content_path(content.id) %>
    		    <%= link_to "削除", content, method: :delete, data: { confirm: "本当に削除してもいいですか？" } %>
    		    
    		</td>
        </tr>
        
    <% end %>
    </tbody>
</table>
</div>


