<%= render 'pages/header' %>

    <iframe class="sh-if-self" width="560" height="315" src="<%= @content.youtube %>" frameborder="0" allowfullscreen></iframe>
    <div class="sh-if">
            <div class="sh-tt"><%= simple_format(@content.title) %></div><br>
            <div class="sh-st"><%= simple_format(@content.story) %></div><br>
            <div class="sh-st"><%= simple_format(@content.broadcast) %></div><br>
            <div class="sh-st"><%= simple_format(@content.theme) %></div><br>
            <div class="sh-st"><%= simple_format(@content.cast) %></div><br>
            <% @works.each do |work| %>
             <%= link_to "#{work.sub_title}", work %><br><br>
            <% end %>
    <div class="sh-ct">コメント一覧</h2></div>
    <% @content.comments.each do |comment| %>
      <div class="sh-cm">
        <strong>投稿者:</strong>
        <%= comment.name %>
      </p>
    
      <p>
        <strong>内容:</strong>
        <%= comment.body %>
      </p>
      </div>
    <% end %>
    <%= form_for([@content, @content.comments.build]) do |f| %>
      <p>
        <%= f.text_field :name, class: :"form-control", placeholder: :"名前"%>
      </p>
      <p>
        <%= f.text_area :body, class: :"form-control", placeholder: :"内容"%>
      </p>
     
    
      <p>
        <%= f.submit "投稿する", class: :"btn btn-primary"%>
      </p>
    <% end %>
    </div>
    




