  <div class="id-inline">
    <div class="ranking">
      <div class="id-ti">ランキング</div>
        <div class="id-pd">
          <% @i = 0%>
          <% @ranks.each do |rank| %>
           <%= rank.rank %>
           <%= link_to "#{rank.sub_title.truncate(17)}", rank %><br>
          <% end %>
        </div>
    </div>
    <div class="ranking">
      <div class="id-ti">他のサイトを見てみる</div>
        <div class="id-pd">
         <%= link_to "Youtubeアニメ無料動画", "http://tvanimedouga.blog93.fc2.com/" %><br>
         <%= link_to "アニポ無料アニメ動画まとめ", "http://anipo.jp/" %><br>
         <%= link_to "高画質アニメ動画情報", "http://kodoanime01.blog136.fc2.com/" %><br>
         <%= link_to "junkch", "http://junkch.com/" %><br>
         <%= link_to "Gyao", "http://gyao.yahoo.co.jp/ct/anime/" %><br>
         <%= link_to "特選★アニメ動画紹介所", "http://freeanimedougadesu.blog70.fc2.com/" %><br>
         <%= link_to "アニメ動画倉庫.com", "http://anime.dougasouko.com/" %><br>
         <%= link_to "無料動画一覧 | バンダイチャンネル｜好きなアニメを楽しもう！", "http://www.b-ch.com/ttl/frmv_list.php/" %><br>
         <%= link_to "無料動画アニメポスト", "http://animepost.blog.fc2.com/" %><br>
        </div>
      </div>
      <div class="ranking">
        <div class="id-ti">動画が見つからない時は？</div>
          <div class="id-pd">
           <%= link_to "MioMio", "http://www.miomio.tv/ent/japan/" , { :target => "_blank"} %><br>
           <%= link_to "Anitube", "http://www.anitube.se/" , { :target => "_blank"} %><br>
           <%= link_to "ひまわり動画", "http://himado.in/" , { :target => "_blank"} %><br>
           <%= link_to "Youtube", "https://www.youtube.com/" , { :target => "_blank"} %><br>
           <%= link_to "Dailymotion", "http://www.dailymotion.com/jp" , { :target => "_blank"} %><br>
           <%= link_to "B9", "http://up.b9dm.com/" , { :target => "_blank"} %><br>
           <%= link_to "FC2", "http://video.fc2.com/ja/" , { :target => "_blank"} %><br>
           <%= link_to "Himatube", "http://himatube.se/" , { :target => "_blank"} %><br>
           <%= link_to "GoGoAnime", "http://ww1.gogoanime.io/" , { :target => "_blank"} %><br>
           <%= link_to "AnimeNova", "http://www.animenova.org/" , { :target => "_blank"} %><br>
           <%= link_to "GoodAnime", "http://www.goodanime.co/" , { :target => "_blank"} %><br>
           <%= link_to "KissAnime ←オススメ", "http://kissanime.ru//" , { :target => "_blank"} %><br>
           <%= link_to "Myvi", "http://www.myvi.ru/" , { :target => "_blank"} %><br>
          </div>
        </div>
    </div>
  </div>
