    <div class="id-we-day">日曜</div>
    <li><%= link_to "Rewrite 2ndシーズン", anime_path(2) %></li>
    <li><%= link_to "亜人ちゃんは語りたい", anime_path(2) %></li>
    <li><%= link_to "霊剣山 叡智への資格", anime_path(2) %></li>
    <li><%= link_to "チェインクロニクル～ヘクセイタスの閃～", anime_path(2) %></li>
    <li><%= link_to "スピリットパクト", anime_path(2) %></li>
    <li><%= link_to "戦国鳥獣戯画～乙～", anime_path(2) %></li>
    <li><%= link_to "タイガーマスクW", anime_path(2) %></li>
    <li><%= link_to "ヘボット！", anime_path(2) %></li>
    <li><%= link_to "チーズスイートホーム こねこのチー", anime_path(2) %></li>
    <li><%= link_to "モンスターハンター ストーリーズ RIDE ON", anime_path(2) %></li>
    <li><%= link_to "カードファイト!! ヴァンガードG NEXT", anime_path(2) %></li>
    <li><%= link_to "ドラゴンボール超", anime_path(2) %></li>
    <li><%= link_to "遊☆戯☆王 ARC-V", anime_path(2) %></li>
    <li><%= link_to "キラキラ プリキュアアラモード", anime_path(2) %></li>
    <li><%= link_to "ワンピース ONEPIECE", anime_path(2) %></li>
    <li><%= link_to "ちいさなプリンセス ソフィア", anime_path(2) %></li>
    <li><%= link_to "GUNダムおるふェンズ第2期", anime_path(2) %></li>
    <li><%= link_to "パズドラクロス", anime_path(2) %></li>
    <li><%= link_to "エルドライブ【elDLIVE】", anime_path(2) %></li>
    <li><%= link_to "にゃんこデイズ", anime_path(2) %></li>
    <li><%= link_to "ているずくろす2期", anime_path(2) %></li>
    <div class="id-we-border"></div>
    <div class="id-we-day">月曜</div>
    <li><%= link_to "アイドル事変", anime_path(2) %></li>
    <li><%= link_to "リトルウィッチアカデミア", anime_path(2) %></li>
    <li><%= link_to "銀魂.（5期）", anime_path(2) %></li>
    <li><%= link_to "闇芝居 第4期", anime_path(2) %></li>
    <li><%= link_to "ベイブレードバースト", anime_path(2) %></li>
    <li><%= link_to "超・少年探偵団NEO", anime_path(2) %></li>
    <li><%= link_to "ガヴリールドロップアウト", anime_path(2) %></li>
    <div class="id-we-border"></div>
    <div class="id-we-day">火曜</div>
    <li><%= link_to "ちるらん にぶんの壱", anime_path(2) %></li>
    <li><%= link_to "ヨワムシぺだる３", anime_path(2) %></li>
    <li><%= link_to "鬼平-ONIHEI-", anime_path(2) %></li>
    <li><%= link_to "トリっクすたー", anime_path(2) %></li>
    <li><%= link_to "にゃんぼー！", anime_path(2) %></li>
    <li><%= link_to "新あたしンち", anime_path(2) %></li>
    <li><%= link_to "少年アシベ GO！GO！ゴマちゃん", anime_path(2) %></li>
    <li><%= link_to "プリパラ(第3期)", anime_path(2) %></li>
    <li><%= link_to "アベンジャーズ・アッセンブル", anime_path(2) %></li>
    <li><%= link_to "信長の忍び", anime_path(2) %></li>
    <li><%= link_to "ACCA13区監察課", anime_path(2) %></li>
    <div class="id-we-border"></div>
    <div class="id-we-day">水曜</div>
    <li><%= link_to "あいまいみー第三幕", anime_path(2) %></li>
    <li><%= link_to "ハンドシェイカー", anime_path(2) %></li>
    <li><%= link_to "けものフレンズ", anime_path(2) %></li>
    <li><%= link_to "双星の陰陽師", anime_path(2) %></li>
    <li><%= link_to "バトルスピリッツ ダブルドライブ", anime_path(2) %></li>
    <li><%= link_to "ピアシェ～私のイタリアン～", anime_path(2) %></li>
    <li><%= link_to "One Room", anime_path(2) %></li>
    <div class="id-we-border"></div>
    <div class="id-we-day">木曜</div>
    <li><%= link_to "AKIBA’S TRIP-THE ANIMATION-", anime_path(2) %></li>
    <li><%= link_to "小林さんちのメイドラゴン", anime_path(2) %></li>
    <li><%= link_to "この素晴らしい世界に祝福を! 2", anime_path(2) %></li>
    <li><%= link_to "CHAOS;CHILD", anime_path(2) %></li>
    <li><%= link_to "かみさまみならい ヒミツのここたま", anime_path(2) %></li>
    <li><%= link_to "アイカツ スターズ！", anime_path(2) %></li>
    <li><%= link_to "NARUTO ナルト疾風伝", anime_path(2) %></li>
    <li><%= link_to "ポケットモンスター サン＆ムーン", anime_path(2) %></li>
    <li><%= link_to "政宗くんのリベンジ", anime_path(2) %></li>
    <li><%= link_to "Yokai Watch", anime_path(2) %></li>
    <div class="id-we-border"></div>
    <div class="id-we-day">金曜</div>
    <li><%= link_to "SUPER LOVERS 2", anime_path(2) %></li>
    <li><%= link_to "MARGINAL#4 KISSから創造るBig Bang", anime_path(2) %></li>
    <li><%= link_to "クズの本懐", anime_path(2) %></li>
    <li><%= link_to "うらら迷路帖", anime_path(2) %></li>
    <li><%= link_to "セイレン", anime_path(2) %></li>
    <li><%= link_to "おーーるあウト!!", anime_path(2) %></li>
    <li><%= link_to "幼女戦記", anime_path(2) %></li>
    <li><%= link_to "殺せんせーＱ！", anime_path(2) %></li>
    <div class="id-we-border"></div>
    <div class="id-we-day">土曜</div>
    <li><%= link_to "風夏（ふうか）", anime_path(2) %></li>
    <li><%= link_to "南鎌倉高校女子自転車部", anime_path(2) %></li>
    <li><%= link_to "スクールガールストライカーズ", anime_path(2) %></li>
    <li><%= link_to "青の祓魔師 京都不浄王編", anime_path(2) %></li>
    <li><%= link_to "昭和元禄落語心中-助六再び篇-", anime_path(2) %></li>
    <li><%= link_to "ぼのぼの", anime_path(2) %></li>
    <li><%= link_to "フューチャーカード バディファイトDDD", anime_path(2) %></li>
    <li><%= link_to "カミワザ・ワンダ", anime_path(2) %></li>
    <li><%= link_to "プリパラ(第3期)", anime_path(2) %></li>
    <li><%= link_to "リルリルフェアリル", anime_path(2) %></li>
    <li><%= link_to "クラシカロイド", anime_path(2) %></li>
    <li><%= link_to "GRANBLUE FANTASY The Animation", anime_path(2) %></li>
    <li><%= link_to "デジモンユニバース アプリモンスターズ", anime_path(2) %></li>
    <li><%= link_to "タイムボカン24", anime_path(2) %></li>
    <li><%= link_to "彼岸島X", anime_path(2) %></li>
    <li><%= link_to "ろんぐらいだぁす！", anime_path(2) %></li>
    <li><%= link_to "3月のライオン", anime_path(2) %></li>
    <li><%= link_to "バンドリ！", anime_path(2) %></li>
    <li><%= link_to "ナンバカ 第2期", anime_path(2) %></li>


    