<div class="sub-her">
  <%= link_to image_tag('candii.jpg', { :border => '0', :size => "50x40", :alt => 'キャンディィアイコン', :class => 'tw-ic'}), root_path %>
  <div><%= link_to "キャンディィ|アニメ無料動画", root_path %></div><br>
  <span class="sub-her-dis">　　--アニメの無料動画をまとめたサイトです。--</span>
</div>
<%= render 'left_side' %>

  <div class="id-inline">
    <div class="timeline">
      <div class="id-ti">タイムライン</div>
      <div class="id-pd">
        <% @works.reverse.first(25).each do |work|%>
          <%= work.date.strftime("%-m月 %-d日") if !work.date.nil? %>
          <%= link_to "#{work.sub_title.truncate(20)}", work %><br>
        <% end %>
      </div>
    </div>
    <div class="timeline_under">
      <div class="id-pd">
          <% @works.first(5).each do |work| %>
          <div class="id-ti-bd">
            <%= link_to"#{work.sub_title.truncate(25)}", work %>
            <% if !work.blank? %>
              <iframe width="280" height="205" src="<%= work.youtube %>" frameborder="0" allowfullscreen></iframe>
            <% end %>
          </div>
          <% end %>
      </div>
    </div>
  </div>
      
    <%= render 'right_side'%>



