<%= link_to "新規登録", new_bot_path %>


<div class="col-xs-12">
<table class="type07">
    <thead>
    <tr>
        <th scope="cols"></th>
        <th scope="cols">タイトル</th>
        <th scope="cols">URL</th>
        <th scope="cols">ページID</th>
        <th scope="cols">放映日</th>
        <th scope="cols">管理</th>
    </tr>
    </thead>
    <tbody>
        
    <% @bots.each do |bot| %>

        <tr>
            <th scope="row"><%= bot.id %></th>
    		<td><%= bot.title %></td>
    		<td><%= link_to "#{bot.url}", bot.url %></td>
    		<td><%= bot.page_id %></td>
    		<td><%= bot.date %></td>
    		<td>
    		    <%= link_to "編集", edit_bot_path(bot.id) %>
    		    <%= link_to "削除", bot, method: :delete, data: { confirm: "本当に削除してもいいですか？" } %>
    		    
    		</td>
        </tr>
        
    <% end %>
    </tbody>
</table>
</div>


<%= link_to "crawl", bots_crawl_path %>
<%= link_to "scraping", bots_scraping_path %>




