<%= render 'pages/header' %>

<div class="sh-content">
    llll
    <div class="sh-if">
        <iframe class="sh-if-self" width="560" height="315" src="<%= @anime.youtube %>" frameborder="0" allowfullscreen></iframe>
        <div class="sh-des">
            <div class="sh-ani-tt"><%= @anime.title %></div>
            <div class="sh-ani-co"><%= @anime.content %></div>
        </div>
    </div>
    
    
    <div class="sh-index">
        <button type="button" class="btn btn-info btn-xs op"><a href="<%= @anime.fc2 %>" target="_blank" style="text-decoration: none;">FC2</a></button>
        <button type="button" class="btn btn-info btn-xs op"><a href="<%= @anime.ani %>" target="_blank" style="text-decoration: none;">Ani</a></button>
        <button type="button" class="btn btn-info btn-xs op"><a href="<%= @anime.hima %>" target="_blank" style="text-decoration: none;">Hima</a></button>
        <button type="button" class="btn btn-info btn-xs op"><a href="<%= @anime.gogo %>" target="_blank" style="text-decoration: none;">GoGo</a></button>
        <button type="button" class="btn btn-info btn-xs op"><a href="<%= @anime.nova %>" target="_blank" style="text-decoration: none;">Nova</a></button>
        <button type="button" class="btn btn-info btn-xs op"><a href="<%= @anime.gooda %>" target="_blank" style="text-decoration: none;">GoodA</a></button>
        <button type="button" class="btn btn-info btn-xs op"><a href="<%= @anime.kiss %>" target="_blank" style="text-decoration: none;">Kiss</a></button>
        <button type="button" class="btn btn-info btn-xs op"><a href="<%= @anime.myvi %>" target="_blank" style="text-decoration: none;">myvi</a></button>
        <button type="button" class="btn btn-info btn-xs op"><a href="<%= @anime.b9 %>" target="_blank" style="text-decoration: none;">B9</a></button>
    </div>
    <div class="sh-comments">
        dddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd
    </div>
</div>
<%= render 'pages/footer' %>


