<!DOCTYPE html>
<html>
<head>
  <title>キャンディィ|無料アニメサイト</title>
  <meta name="viewport" content="width=devise-width, initial-scale=1.0">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'candii.jpg' %>
</head>
<body>
  <% if controller.controller_name != "contacts" %>
    <%= render 'pages/header' %>
  <% end %>

  <% if controller.controller_name == 'bots' %>
    <%= link_to "ホームへ", bots_path %>
  <% end %>
  
  <% if notice %>
    <p class="notice"><%= notice %></p>
  <% elsif alert %>
    <p class="alert"><%= alert %></p>
  <% end %>

<%= yield %>

  <% if controller.controller_name != "contacts" %>
  <%= render 'pages/footer' %>
  <% end %>
</body>
</html>
